{
	auto_https off
	on_demand_tls {
		interval 2m
		burst    5
	}
	local_certs
	skip_install_trust
}

(cdn_cfg) {
	root * /srv
	route {
		header {args.0}/* Cache-Control max-age=600000 # approximately 1 week

		file_server {args.0}/* {
			precompressed br gzip zstd
			hide .*
			{$CDN_FILE_SERVER_CFG}
		}

		respond * "CDN item not found" 404
	}
}

http:// {
	import cdn_cfg /cdn
}

https:// {
	tls internal {
		on_demand
	}
	import cdn_cfg /cdn
}
